[Unit]
Description=megainit service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=roverpad
WorkingDirectory=/home/roverpad/rhit-rover/init_system/src/
ExecStart=/home/roverpad/rhit-rover/init_system/src/megainit

[Install]
WantedBy=multi-user.target
