[Unit]
Description=Running kv server
After=network.target

[Service]
User=rhit-rover1
WorkingDirectory=/home/rhit-rover1/tinyrover/jetson/
ExecStart=/usr/bin/python3 /home/rhit-rover1/tinyrover/jetson/kv.py
Restart=always

[Install]
WantedBy=multi-user.target
